/*
    1em = 16px
    1em = 12pt
    12px = 9pt
    1pt = 1.33px

    1）、推荐px像素为单位：通常我们使用px（像素为单位）较多，其次是em单位，平时推荐大家以px为单位；
    2）、我们的显示屏分辨率以px像素为单位；
    3）、我们QQ截图时候也是以px像素单位。

*/


body {
    background-image:url(bg.jpg);
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: cover;
}

.aTitle {
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    display: block;
}

.spanCenter {
    padding-top: 2px;
    font-size: 18px;
    color: white;
    width: 100%;
    text-align: center;
    display: block;    
}

.spanRight {
    margin-left: 70%;
    padding-top: 2px;
    font-size: 18px;
    color: white;
    text-align: left;
    display: inline;  
}

.line {
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: white;
}

.verticalLine {
    width: 1px;
    height: 20px;
    background-color: white;
    color: white;
}

a:link {
    color:white;
    text-decoration-line: none;
}      /* 未访问链接*/
a:visited {
    color:white;
    text-decoration-line: none;
}  /* 已访问链接 */
a:hover {
    color:white;
    text-decoration-line: underline;
}  /* 鼠标移动到链接上 */
a:active {
    color:wheat;
}  /* 鼠标点击时 */

.divLarge {
    width: 60%;
    height: 23em;
    margin: auto;
    margin-top: 10%;
    background-color:rgba(0,0,0,0.5);
    caption-side: initial;
    border-radius: 30px;
}

ul {
    list-style: none;
    background-color:rgba(0,0,0,0.7);
    width: 100%;
    margin-top: 10px;
    padding: 0;
    border: 1px solid #555;
}

li {
    font-size: 20px;
    color: black;
    height: 60px;
}

.aMenu {
    display: block;
    font-size: 20px;
    color: black;
    height: 60px;
    line-height: 60px; /*设置a标签的line-height等于height 使文字垂直居中 */
    text-align: center;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li .aMenu.active {
    background-color: #4CAF50;
    color: white;   
}

/* 鼠标移动到选项上修改背景颜色 */
li .aMenu:hover:not(.active) {
    background-color:white;
    color:black;
}

.spanEmail {
    color: white;
    font-size: 13px;
    text-align: left;
}